@font-face {
  font-family: 'Montserrat';
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap") format('woff2');
 }
 
.main-content {
    text-align: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 115px;

  }
  
  .main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 2px;
    margin-bottom: 3rem;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease-out;
  }
  
  .main-title.animate {
    opacity: 0.5;
    transform: translateY(0);
  }
  
  .main-title::after {
    content: '';
    display: block;
    width: 600px;
    height: 2px;
    background: linear-gradient(135deg, #6e45e2 0%, #88d3ce 100%);
    margin: 1rem auto;
    transition: all 0.2s ease;
  }
  
  .platforms-container {
    display: flex;
    justify-content: center;
    gap: 12rem;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .platform-item {
    display: flex;
    position: relative;
    cursor: pointer;
    height: 100%;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .platform-item::after {
    content: 'Click to explore';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    color: #6e45e2;
    opacity: 0;
    transition: all 0.3s ease;
    font-weight: 500;
  }
  
  .platform-item:hover::after {
    opacity: 1;
    bottom: -25px;
  }
  
  .platform-logo {
    width: 185px;
    height: 185px;
    object-fit: contain;
    border-radius: 30px;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    filter: grayscale(20%);
  }
  
  .platform-item:hover .platform-logo {
    filter: grayscale(0%);
    transform: scale(1.10);
  }
  
  .platform-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.692);
    margin-top: 2px;
  }

  .platform-item a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits text color from parent */
    outline: none; /* Removes focus outline (add your own focus styles if needed for accessibility) */
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .platforms-container {
      flex-direction: column;
      gap: 2rem;
    }
    
    .main-title {
      font-size: 2.5rem;
    }

    .main-title::after {
      content: '';
      display: block;
      width: 200px;
      height: 2px;
      background: #e2b243;
      margin: 2rem auto;
      transition: all 0.2s ease;
    }

    .platform-logo {
      width: 200px;
      height: 100px;
      border-radius: round;
    }
  }