@font-face {
    font-family: 'Montserrat';
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap") format('woff2');
}

.video-container {
    position: absolute;
    top: 100px; /* Match header height */
    left: 0;
    width: 100vw;
    height: calc(100vh - 100px); /* Adjust for header height */
    overflow: hidden;
}

.background-video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.button-container {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.button-container.visible {
    opacity: 1;
    transform: translateY(0);
}

.button-container.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.get-started-btn {
    background: white;
    color: #333;
    padding: 1px 24px;
    width: 15%;
    min-width: 150px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.get-started-btn:hover {
    transform: scale(1.10);
}

.spacer {
    height: 100vh;
}

.body-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px; /* Match header height */
    background: 
      linear-gradient(rgba(237, 224, 241, 0.2), rgba(243, 239, 245, 0.2)),
      linear-gradient(135deg, #fcf7ff 0%, #d2c8e2 100%);
}

@media (max-width: 768px) {
    .get-started-btn {
        background: white;
        color: #333;
        padding: 1px 24px;
        width: 15%;
        min-width: 150px;
        height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 30px;
        box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
}