.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #e2b243;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Fixed height */
}

.header__logo {
    height: 200px;
    width: 250px;
    max-width: 80%;
}